# === PyCharm / JetBrains ===
*.iml
*.ipr
*.iws

# === Mypy / Pyre / Pylint ===
.mypy_cache/
.pyre/
pylint-report.txt
pylint.log

# === IDEs ===
.vscode/
.idea/
.spyproject/
.ropeproject/

# === Environnements virtuels ===
venv/
.env/
.venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class

# === Fichiers de configuration / cache Python ===
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.cache
*.mypy_cache/
*.pytest_cache/
.pytest_cache/
.cache/
.dmypy.json
.dmypy/

# === Test / coverage ===
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.coverage
.coverage.*
.DS_Store
.idea/workspace.xml
.vscode/settings.json
__pycache__/utils.cpython-312.pyc
